@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-3;
}

.bg-primary {
  background-color:white;
}

.mob_nav{
   @apply fixed top-10 left-0 bg-gray-400 w-full h-1/5 text-black;
}

.mob_nav li{
  @apply w-full h-full text-center border-b-2; 
}

.btn {
   @apply bg-violet-700 px-2 py-2 font-bold border-2 border-white rounded;
}

html{
  scroll-behavior: smooth;
}

.gradient-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust spacing */
  width: 0;
  height: 3px; /* Adjust thickness */
  background: linear-gradient(to right, #8b5cf6, #ec4899);
  transition: width 0.3s ease-in-out;
}

.gradient-underline:hover::after {
  width: 100%;
}

